*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --darkgray:#181d1a;
    --midgray:#3a4942; 
    --gray:#4b6354;
    --ligthgray:#bcccc3;
    --almostwhite:#f6fffa;
    --orangesport:#FB5B02;
    --darkorangesport:#460800;
    --greensport:#115A35;
    --darkgreensport:#09311d;
    --bluesport:#024CA3;
    --darkbluesport:#001b3a;
}

/* HEADER */

header {
    text-align: center;
    background-image: linear-gradient(to right, white, var(--orangesport) 25%);
    height: 18vh;
    color: aliceblue;
}

.logo_tittle_container {
    height: 70%;
}

.logo_tittle_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
}

.logo_tittle_container h1 {
    -webkit-text-stroke: 0.01em var(--darkorangesport);
    display: inline-block;
    margin-top: 1rem;
    color:var(--almostwhite);
    font-size: 3em;
    font-style: oblique;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
    height: 30%;
    background-image: linear-gradient(to bottom, var(--darkgreensport)80%,var(--greensport));
}

nav ul{
    width: 30%;
    margin-left: 35%;
}

nav ul li {
    display: inline-block;
    margin: 0.5em 1em ;
}

a{
    color:aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: var(--ligthgray);
}

/* MAIN INDEX*/

main{
    background-image: url("../images/light-isometric-geometric-background.jpg");
}
/* BANNER INDEX*/

.banner{
    background-color: var(--greensport);
    background-image: linear-gradient(to bottom, var(--greensport)93%,var(--ligthgray));
    color: aliceblue;   
    height: 10em;
    text-align: center;
}

.banner h2{
    padding-top:2em;
    margin-bottom: 0.5em;
}

/* PRODUCTS */

.featured_products{
    text-align: center;
    color: var(--darkgray);
}
.featured_products h2{
    padding-top: 2em;
    height: 5em;
    
}

.product_card{
    display: inline-block;
    height: 24em;
    width: 25em;
    border: 0.5px solid var(--ligthgray);
    padding: 1em;
    margin: 0 1em;
    background-color: var(--almostwhite);
}

.product_card img,h3,p,a{
    display: block;
}

.product_card img{
    margin-left: 7em;
    border: 1px solid var(--almostwhite);
}

.product_card h3{
    padding-top: 1em;
}

.product_card p{
    color: var(--gray);
    padding-top: 1em;
}

.product_card_price{
    font-weight: bold;
    color: var(--darkgray) !important;
}

.product_card a{
    padding: 0.5em;
    width: 30%;
    background-color: var(--darkbluesport);
    color:aliceblue;
    margin-top: 0.5em;
    margin-left: 8em;
}
.product_card a:hover{
    background-color: var(--gray);
}

/* CATEGORIES */

.categories{
    height: 28em;
    text-align: center;
}

.categories h2{
    margin-top: 2em;
    margin-bottom: 2em;
    color: var(--darkgray);
}

.categories article{
    display: inline-block;
    height: 18em;
    width: 18em;
    margin: 0 4em;
}

.categories img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border: 1px solid var(--ligthgray);
}

.categories h3{
    margin-top: 1em;
}

/* FOOTER*/

footer {
    background-color: var(--darkbluesport);
    color: aliceblue;
    text-align: center;
    height: 10vh;
}

footer p{
    padding-top: 1.5em;
}

/*ABOUT US SECTION*/

.about_us{
    height: 20rem;
    width: 90%;
    text-align: center;
    padding-top: 1em;
    margin-left: 4em;
    color: var(--darkgray);
}

.about_us h2{
    margin: 2em;
}

.about_us h3,p{
    margin-top: 1em;
}

.about_us p{
    text-align: left;
}

/* TEAM SECTION */

.team{
    margin-top:3em;
    width: 100%;
    color: var(--darkgray);
    text-align: center;
    height: 37em;
    background-color: var(--ligthgray);
    
}

.team h2{
    padding: 1em;
}

.team_member_container{
    display: inline-block;
    width: 22em;
    height: 30em;
    margin: 2em;
}

.team_member_container h3{
    font-weight: bolder;
}

.team_member_container h4{
    font-weight:bold;
    margin-top: 0.2em;
}

.team_member_container p{
    width: 100%;
    text-align:justify;
}

.team_member_container img{
    margin: 1em 0;
    border-radius: 100%;
    width: 15em;
    height: 15em;
    object-fit: cover;
    border: 2px solid var(--almostwhite);
}

/* OUR VALUES */

.values{
    height: 30em;
    width: 90%;
    text-align: center;
    margin-left: 4em;
    color: var(--darkgray);
}

.values h2{
    margin-top: 2em;
}

.values h3{
    margin-top: 3em;
}

.values p{
    width: 60%;
    margin-left: 15em;
    text-align: justify;
}
